av
blinker
boto3
botocore
certifi
charset-normalizer
click
coloredlogs
ctranslate2
faster-whisper
filelock
Flask
flatbuffers
fsspec
huggingface-hub
humanfriendly
idna
itsdangerous
Jinja2
jmespath
MarkupSafe
mpmath
networkx
numpy
onnxruntime
packaging
potassium
protobuf
python-dateutil
PyYAML
redis
requests
s3transfer
six
sympy
termcolor
tokenizers
torch
tqdm
typing_extensions
urllib3
Werkzeug
nvidia-cublas-cu11